<% provide(:title, 'Questions of Interest') %>
<h1>Questions that Drive<br>Purpose Action and Results</h1>

<h2>Authenticity means your Golden Circle is in balance.<br>The results of your principle actions, based on your beliefs.</h2>

<div class="right">
<h1>Golden Circle</h1>
<%= image_tag "golden-circle.jpg", :size => "300x300", :alt => "Golden Circle" %>
</div>

<table>
  <tr>
    <td>
      <h3>WHYs are the inspiration behind an undying belief in a purpose or cause bigger than yourself.</h3>
      <p>A public statement of intent for why you/the company exists. It provides a clear filter for dicision making</p>
      <%= render 'shared/why_form' %>

      <p>i.e. "Everything we do, we believe in challenging the status quo thinking differently. The way we challenge the status quo is we make our products beautifully designed, simple to use, and user friendly. We just happen to make computers — wanna buy one?" ~ Apple</p?

      <%= render 'shared/whyfeed' %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <h3>HOWs are the actions we take to realize a belief.</h3>
      <p>Values or principles that bring a cause to life; with clarity, discipline and consistency.</p>
      <%= render 'shared/value_form' %>
      <%= render 'shared/valuefeed' %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <h3>WHATs are the results of your principle actions.</h3>
      <p>Everything you say and do has to prove what you believe. What gets measured gets done.</p>
    </td>
  </tr>
</table>

