<% provide(:title, 'Overcoming Procrastination') %>

<h1>Overcoming Procrastination</h1>

<table>
  <tr>
    <td>

<p>What am I procrastinating?</p>

      <%= render 'shared/procrastinate_form' %>
      <%= render 'shared/procrastinationfeed' %>

<div class="space"></div>

<p>What pain will procrastination cause me later, instead of the temporary comfort/pleasure it will give me now?</p>

      <%= render 'shared/procrastinate1_form' %>
      <%= render 'shared/procrastination1feed' %>

<div class="space"></div>

<p>Who is the person I want to be, and the life I want to live? Including my intentions to do the good work I think I should do.</p>

      <%= render 'shared/procrastinate2_form' %>
      <%= render 'shared/procrastination2feed' %>

<div class="space"></div>

<p>What urges do I commonly encounter that distracts me from the real things I want to do? Bring them out in to the open so I can be more actively aware.</p>

      <%= render 'shared/procrastinate3_form' %>
      <%= render 'shared/procrastination3feed' %>

<div class="space"></div>

<p>Smile, breathe, and let go.</p>

<p>Take one step, and become the person I want to be.</p>

    </td>
  </tr>
</table>

<h2>‘You can only lose what you cling to.’ ~Buddha</h2>

