<h1>Reflect and Discover</h1>

<p>Reflect on your day to create an inventory of self discovery. It also serves to draw your attention on what to look for during the day. Over time you may notice patterns developing, which can help create new distinctions to draw upon.</p>

<table>
  <tr>
    <td>
      <h3>Am I Savoring the Moment?</h3>
      <p>What moments left me invigorated or connected me to others today?</p>
      <%= render 'shared/savor_form' %>
      <p><%= render 'shared/savoringfeed' %></p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Am I Creating Good Habits?</h3>
      <p>What positive choices directed me towards a more effective and consistent future today?</p>
      <%= render 'shared/habit_form' %>
      <p><%= render 'shared/habitualfeed' %></p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Am I Improving Valuable Skills?</h3>
      <p>What tangible improvements did I make, to contribute towards more value in the world today?</p>
      <%= render 'shared/improvement_form' %>
      <p><%= render 'shared/improvingfeed' %></p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Am I Prioritizing my Needs?</h3>
      <p>What important events did I complete earlier, spend more time doing, or expend more energy on today?</p>
      <%= render 'shared/need_form' %>
      <p><%= render 'shared/needingfeed' %></p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Am I Expanding my Awareness?</h3>
      <p>What novel experiences, expanded my awareness in a positive manner today?</p>
      <%= render 'shared/expansion_form' %>
      <p><%= render 'shared/expandingfeed' %></p>
    </td>
  </tr>
</table>
