<h1>Live in the Moment</h1>

<p>Reflect on your day to create an inventory of self discovery. It also serves to draw your attention on what to look for during the day. Over time you may notice patterns developing, which can help create new distinctions to draw upon.</p>

<table>
  <tr>
    <td>
      <h3>Am I Savoring the Moment?</h3>
      <p>What moments connected me to others today?</p>
      <%= render 'shared/savor_form' %>
      <p><%= render 'shared/savoringfeed' %></p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Am I Creating Good Habits?</h3>
      <p>What choices increased my consistency today?</p>
      <%= render 'shared/habit_form' %>
      <p><%= render 'shared/habitualfeed' %></p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Am I Improving Valuable Skills?</h3>
      <p>What useful improvements did I make today?</p>
      <%= render 'shared/improvement_form' %>
      <p><%= render 'shared/improvingfeed' %></p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Am I Prioritizing my Needs?</h3>
      <p>What events needed prioritizing today?</p>
      <%= render 'shared/need_form' %>
      <p><%= render 'shared/needingfeed' %></p>
    </td>
  </tr>
</table>
