<% provide(:title, 'SHINE from Within') %>

<h1>SHINE from Within</h1>

<h3><%= link_to 'Savoring the Moment', savor_the_moment_path %></h3>

<p>The moments we enjoy, create a feeling of timelessness. The times we don't enjoy, present as feelings of anger or sadness (regarding past events) or feelings of fear (based on perceived future events).</p>

<h3><%= link_to 'Habits are a Choice', habits_are_a_choice_path %></h3>

<p>Every thought we have, thing we do, or feeling we experience in some form is manifested by our habits. They help us by increasing our efficiency so our important resources of energy and attention can be better conserved.</p>

<h3><%= link_to 'Improving or Proving Yourself', self_improvement_path %></h3>

<p>One of the main reasons people are drawn to personal development, is to improve their useful knowledge, skills, and abilities to positively frame the world around them. If a practical skill set improves the quality of your life and others, greater personal freedoms and relationships are more able to flourish.</p>

<h3><%= link_to 'Essential Needs', essential_needs_path %></h3>

<p>One of the most important aspects of goal setting, is choosing which direction you would like to lead your life. Do your wants serve a purpose and match your values? Many people wrestle with these questions, when asked what's important in life.</p>

<h3><%= link_to 'Expanding Awareness', expanding_awareness_path %></h3>

<p>One of the common themes to personal development, is the ability to continually move outside one's comfort zone. Taking new actions, having different thoughts, and feeling on levels previously not available, can provide a number of benefits including; increased creativity, problem solving, and social skills.</p>
