<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1><%= @user.name %></h1>
      <%= gravatar_for @user %>
    </section>
  </aside>

<div class="projects">
  <% unless @user.projects.empty? %>
    <h3><%= link_to 'Current Projects', projects_path %></h3>

    <table>
      <%= render @projects %>
    </table>

    <%= will_paginate @projects %>
  <% end %>
</div>

<div class="mits">
  <% unless @user.weeks.empty? %>
    <h3><%= link_to 'Weekly MITs', weekly_path %></h3>

    <table>
      <%= render @weeks %>
    </table>

    <%= will_paginate @weeks %>
  <% end %>
</div>

<div class="clear"></div>
<br />

<div class="box">
<div class="shine">
  <% unless @user.savors.empty? %>
    <h3><%= link_to 'Savoring', reflect_path %></h3>

    <table>
      <%= render @savors %>
    </table>

     <p><%= will_paginate @savors %></p>
   <% end %>
</div>

<div class="shine">
  <% unless @user.habits.empty? %>
    <h3><%= link_to 'Habits', reflect_path %></h3>

    <table>
      <%= render @habits %>
    </table>

     <%= will_paginate @habits %>
   <% end %>
</div>

<div class="shine">
  <% unless @user.improvements.empty? %>
    <h3><%= link_to 'Improving', reflect_path %></h3>

    <table>
      <%= render @improvements %>
    </table>

     <%= will_paginate @improvements %>
   <% end %>
</div>

<div class="shine">
  <% unless @user.needs.empty? %>
    <h3><%= link_to 'Needing', reflect_path %></h3>

    <table>
      <%= render @needs %>
    </table>

     <%= will_paginate @needs %>
   <% end %>
</div>

<div class="shine">
  <% unless @user.expansions.empty? %>
    <h3><%= link_to 'Expanding', reflect_path %></h3>

    <table>
      <%= render @expansions %>
    </table>

     <%= will_paginate @expansions %>
   <% end %>
</div>
</div>

<div class="clear"></div>
<br />

<div class="left">
  <% unless @user.quotes.empty? %>
    <h3><%= link_to 'Inspiring Quotations', quotes_path %></h3>

    <table>
      <%= render @quotes %>
    </table>

    <%= will_paginate @quotes %>
  <% end %>
</div>

<div class="clear"></div>

<div class="left">
  <% unless @user.funs.empty? %>
    <h3><%= link_to 'Fun Activities', funs_path %></h3>

    <table>
      <%= render @funs %>
    </table>

    <%= will_paginate @funs %>
  <% end %>
</div>

<div class="clear"></div>
<br />

<div class="left">
  <% unless @user.mostimportants.empty? %>
    <h3><%= link_to 'Most Important Tasks', mostimportanttasks_path %></h3>

    <table>
      <%= render @mostimportants %>
    </table>

    <%= will_paginate @mostimportants %>
  <% end %>
</div>

<div class="clear"></div>
<br />

<div class="left">
  <% unless @user.procrastinates.empty? %>
    <h3><%= link_to 'Overcoming Procrastination', overcomingprocrastination_path %></h3>

    <table>
      <%= render @procrastinates %>
    </table>

    <table>
      <%= render @procrastinate1s %>
    </table>

    <%= will_paginate @procrastinates %>
  <% end %>
</div>

<div class="clear"></div>

<div class="clear"></div>
