<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1><%= @user.name %></h1>
      <%= gravatar_for @user %>
    </section>
  </aside>


<div class="projects">
  <% unless @user.projects.empty? %>
    <h3><%= link_to 'Current Projects', projects_path %></h3>

    <table>
      <%= render @projects %>
    </table>

    <%= will_paginate @projects %>
  <% end %>
</div>

<div class="weekly">
  <% unless @user.weeks.empty? %>
    <h3><%= link_to 'Weekly MITs', weekly_path %></h3>

    <table>
      <%= render @weeks %>
    </table>

    <%= will_paginate @weeks %>
  <% end %>
</div>

<div class="tasks">
  <% unless @user.mostimportants.empty? %>
    <h3><%= link_to 'Most Important Tasks', mostimportanttasks_path %></h3>

    <table>
      <%= render @mostimportants %>
    </table>

    <%= will_paginate @mostimportants %>
  <% end %>
</div>
</div>


<div class="box">

<div class="clear"></div>

<br />

<div class="left">
  <% unless @user.gratefuls.empty? %>
    <h3><%= link_to 'Expressions of Gratitude', gratitude_path %></h3>

    <table>
      <%= render @gratefuls %>
    </table>

    <%= will_paginate @gratefuls %>
  <% end %>
</div>

<div class="clear"></div>

<br />

<div class="left">
  <% unless @user.quotes.empty? %>
    <h3><%= link_to 'Inspiring Quotations', quotes_path %></h3>

    <table>
      <%= render @quotes %>
    </table>

    <%= will_paginate @quotes %>
  <% end %>
</div>
