<header>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Broaden and Build", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "Users", users_path %></li>
            <% end %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%#= link_to "Help", help_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">

                <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, :method=> :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
          <% if signed_in? %>
  <div class="subnav">
  <div class="centered-tabs">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to 'Goals', goal_setting_path %></li>
      <li class="active"><%= link_to 'Savor', savor_the_moment_path %></li>
      <li class="active"><%= link_to 'Projects', projects_path %></li>
      <li class="active"><%= link_to 'Weekly', weekly_path %></li>
    </ul>
  </div>
</div>
          <% end %>
</header>

<br />
<br />
